* {
    box-sizing: border-box;
}

*::after, *::before { 
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: #3B2E5A;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
  }
a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3B2E5A;
}

a:visited {
  text-decoration: none;
  color: #3B2E5A;
}

a:active {
  text-decoration: none;
  color: #3B2E5A;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }

  header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .head-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items:center;
  }
  .head-container div:not(:first-child) {
    margin: 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .head-container .head-title {
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 30px;
  }

  .head-container a:hover {
  color: grey;
  cursor: pointer;
}
  section {
    width: 100%;
    background-color: #fff;
    position: relative;
    /* 섹션안에서 하위요소를 absolute로 위치를 조정할 수 있도록하기위해 relative설정 */
    /*position : absolute는 position: static 속성을 가지고 있지 않은 부모를 기준으로 움직임*/
  }
  .main {
    height: 600px;
    background-image: url("/img/main.jpg");
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .main-container {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: rgb(48,47,68);
    opacity: 0.5;
    z-index: 2;
  }

  .introduce-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .introduce {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0.8rem;
  }
  .message {
    font-size: 3rem;
    color: #fff;
  }
.about{
  height: 600px;
  background-color: #F4C7AB;
}

.about-title{
  padding: 30px;
  font-size: 3rem;
  font-weight: bold;
}
.about-detail {
  width: 100%;
  display: flex;
  list-style: none;
  
}
.about-img{
  width: 400px;
  height: 400px;
  border-radius: 70%;
  background-image: url("/img/about.jpg");
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
}
.about-name {
  list-style: none;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 25px;
}
.about-desc{
  list-style: none;
}
.about-desc li{
  font-size: 23px;
  list-style: none;
  font-weight: 400;
}
.about-blog, .about-github {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(45, 64, 89, 0.3);
}

  .skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  .skills {
    height: 600px;
    width: 100%;
    background-color: #A1CAE2;
  }
  .skills-inner-title{
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
  }

  .skill-detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
  }

  .skill-content {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .skill-icon{
    background-color: #fff;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    box-shadow: 10px 10px 10px -5px rgba(45, 64, 89, 0.8);
    width: 5rem;
    height: 4.5rem;
    margin: 0.5rem 1rem;
  }
  .skill-title {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
  }
  .project {
    width: 100%;
    background-color: #fff;
  }
  .website-container {
    margin-top: 30px;
    width: 100%;
  }
  .website-title-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .website-title {
    
    font-size: 3rem;
    font-weight: bold;
  }
  .arrow-container {
    color: #3B2E5A;
    display: flex;
  }
  .slide-prev{
    color: #3B2E5A;
    font-size: 2rem;
  }

  .slide-next{
    color: #3B2E5A;
    font-size: 2rem;
  }

  .slide-ready {
    color: gray;
    cursor: pointer;
  }

  #project-inner {
    width: 1000px;
  }

  .project-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .project-list {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 2560px;
    height: 400px;
    list-style: none;
    padding: 0;

  }
  .card-container {
    display: flex;
    width: 1000px;
    height: 300px;
    margin-top: 1rem;
    background-color: rgba(45, 64, 89, 0.3);
    border-radius: 9px;
    transition: 0.4s;
  }
  .card-container:hover {
    transform: translate(0, -5px);
  }

  .card-img {
    width: 300px;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  
  #card-fist-img {
    background-image: url("/img/project1.jpg");
  }
  #card-second-img {
    background-image: url("/img/Heartgram.png");
  }
  .card-detail {
    width: 600px;
    margin-top: 1rem;
  }
  .card-detail-title {
    margin: 30px;
    font-size: 20px;
    text-align: left;
  }
  .card-detail-desc{
    margin-left: 30px;
    font-size: 20px;
    text-align: left;
  }
  .card-link {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
  }
  .card-button {
    margin-right: 1rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(45, 64, 89, 0.3);
    flex-basis: 100px;
    color: #3B2E5A;
  }
  .card-button:hover {
    background-color: #A1CAE2;
  }
  .contact .contact-container {
    border-top:1px solid rgba(84, 98, 117, 0.425); 
    height: 500px;
    display: flex;
    justify-content: space-between;
  }
  .contact-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .contact-detail {
    margin:40px 0;
  }

  footer {
    padding: 1rem 0;
    margin-top: 1rem;
    background-color: #3f464d;
    color: #fff;
  }
  .footer-message {
    font-weight: bold;
    text-align: center;
  }

  #backtotop{
    width: 40px;
    height: 40px;
    text-align: center;

    border-radius: 20px;
    position: fixed;
    bottom:30px;
    right: 30px;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index:999;
  }
/*아이콘 적용 방법
1. :: after(요소 뒤에 content 추가) 가상 요소에서,
2. content: "폰트어썸 유니코드"를 넣고,
3. font-family: FontAwsome 이라고 넣으면 됨*/
  #backtotop::after {
    content: "\f062";
    font-family: FontAwesome;
    font-size:1.5rem;
    line-height: 40px;
    color: #fff;
  }

  #backtotop.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(45, 171, 194);
  }

  #backtotop.show:hover {
    cursor: pointer;
    background-color: #616161;
  }
  /* 화면 너비가 1200px보다 커질때 적용 */
  @media only screen and (min-width: 1200px) {
      .inner {
        max-width: 1200px;
        overflow: hidden;
      }
  }

  @media only screen and (max-width : 980px) {
    .skill-title{
      display: none;
    }
    .arrow-container {
      display: none;
    }
    
  }
      